{
  "root": true,
  "extends": ["prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-console": 1,
    "no-var": 2,
    "no-dupe-keys": 2,
    "no-undef": 2,
    "prefer-const": 2,
    "no-unused-vars": 1,
    "no-param-reassign": 1
  }
}
